
body{
    overflow: hidden;
    padding: 77px;
    background: #E7F6FF;
    font-family: 'Inter', sans-serif;
}

.logo{
    padding-right: 20px;
    padding: 9px;
    background: white;
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
}

.graficlogo{
    width:40px; 
    height:40px;
    max-width: 100%;
}

.line{
    border-bottom: 1px solid #EAEAEA;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 33px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.info{
    display: flex;
    flex-direction: row; 
    justify-content: flex-end; 
    margin: 10px;
}

.header__content{
    margin-left: 16px;
    margin: 0;
    padding: 0 16px;
    }
    
.header__title{
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    margin: 0;
}
    
.header__suptitle{
    font-size: 14px;
    color:#9D9D9D;
    font-weight: 400;
    margin: 0;
}

.buy{
    font-size: 14px;
    line-height: 17px;
    color: #5C5C5C;
    padding-right: 23px;
}

.pri-1{
    width: 22px;
    height: 22px;
    margin: 6px;
    padding: 3px;
    padding-right: 5px; 
}

.pri-2{
    margin: 4px;
    padding-right: 10px;
}

.pri-3{
    margin:4px;
    padding-right: 6px;
}